[user]
	name = Matthew
	email = mldelaney94@gmail.com
[alias]
	lg = log --pretty=format:\"%C(yellow)%h%Creset - %an - %ar %C(auto)%d%Creset%n>>%s%n\"
[core]
	excludesFile = C:/Users/Matthew/.gitignore
	autocrlf = true
